<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/productCart.css" />
  </head>
  <body>
    <!-- Inicio del Header-->
    <header>
      <marquee behavior="" direction=""> Noticias - Novedades - Etc </marquee>
    </header>
    <!-- Fin del Header-->

    <!-- Inicio del Main-->
    <div class="main-cart">
      <!-- Seccion primer producto-->
      <section class="product-wrapper">
        <article class="product">
          <div class="imagenes">
            <img src="/img/products6.png" alt="Silla Bulgaria" />
          </div>

          <div>
            <h3>BULGARIA</h3>
            <p>Precio Unitario</p>
          </div>
          <div>
            <p class="precio-anterior">$30.785</p>
            <p>$27.690</p>
            <p class="descuento">10% off</p>
            <p>Subtotal</p>
            <p>$27.690</p>
          </div>
        </article>
        <!-- Segundo articulo-->
        <article class="product">
          <div class="imagenes">
            <img src="/img/fav-icon.png" alt="Silla Ferragamo" />
          </div>
          <div>
            <h3>FERRAGAMO</h3>
            <p>Precio Unitario</p>
          </div>
          <div>
            <p class="precio-anterior">$30.785</p>
            <p>$27.690</p>
            <p class="descuento">10% off</p>
            <p>Subtotal</p>
            <p>$27.690</p>
          </div>
        </article>
      </section>

      <!-- Seccion total-->
      <section></section>
    </div>
    <!-- Fin del Main-->

    <!-- Inicio del Footer-->
    <footer>
      <section class="footer-bottom">
        <article>
          <div class="logo">
            <h5>URBAN</h5>
            <h6>furniture</h6>
          </div>
          <p>
            Somos una empresa dedicada a poder alcanzar a nuestros clientes
            muebles de la mejor calidad al mejor precio.
          </p>
        </article>

        <article>
          <h5 class="footer-title">Contacto</h5>
          <h6 class="contacto">
            <i class="fa-solid fa-location-dot"></i> Buenos Aires, Argentina
          </h6>
          <h6 class="contacto">
            <i class="fa-solid fa-mobile-screen-button"></i> +54 333 1268347
          </h6>
          <h6 class="contacto">
            <span class="fa-solid fa-envelope"></span>
            contacto@urbanfuniture.com
          </h6>
        </article>

        <article>
          <h5 class="footer-title">Nuestras redes</h5>
          <div class="contenedor-redes">
            <a href="#" class="redes"
              ><i class="fa-brands fa-facebook-square"></i
            ></a>
            <a href="#" class="redes"
              ><i class="fa-brands fa-twitter-square"></i
            ></a>
            <a href="#" class="redes"
              ><i class="fa-brands fa-instagram-square"></i
            ></a>
          </div>
        </article>
      </section>
    </footer>
    <!-- Fin del Footer-->
  </body>
</html>
