<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Urban Funiture</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/productCart.css" />
  </head>
  <body>
    <!-- Inicio del Header-->
    <header>
      <marquee behavior="" direction=""> Noticias - Novedades - Etc </marquee>
    </header>
    <div class="navigator">
      <nav>
        <div class="logo">
          <p>URBAN <span>FURNITURE</span></p>
        </div>
        <ul>
          <li><a class="active nav-item" href="/">Inicio</a></li>
          <li><a class="nav-item" href="#">Nosotros</a></li>
          <li><a class="nav-item" href="#">Categorias</a></li>
          <li><a class="nav-item" href="/contact">Contacto</a></li>
        </ul>
        <div class="user-options">
          <i class="fa-solid fa-magnifying-glass nav-item"></i>
          <a href="./productCart"
            ><i class="fa-solid fa-cart-shopping nav-item"></i
          ></a>
          <i class="fa-solid fa-circle-user nav-item"></i>
        </div>
        <div class="menu-small-devices">
          <i class="fa-solid fa-bars"></i>
        </div>
      </nav>
    </div>
    <!-- Fin del Header-->

    <!-- Inicio del Main-->
    <div class="main-cart">
      <!-- Seccion primer producto-->
      <section class="product-wrapper">
        <article class="product">
          <div class="imagenes">
            <img src="/img/products6.png" alt="Silla Bulgaria" />
          </div>

          <div class="description-cant">
            <h3>BULGARIA</h3>
            <p>Precio Unitario</p>
            <select name="cantidad" id="cant">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>

          <div class="description-price">
            <p class="precio-anterior">$30.785</p>
            <div class="precio-descuento">
              <p>$27.690</p>
              <p class="descuento">10% off</p>
            </div>
            <div class="subtotal">
              <p class="letra-subtotal">Subtotal</p>
              <p class="total">$27.690</p>
            </div>
          </div>
        </article>
        <!-- Segundo articulo-->
        <article class="product">
          <div class="imagenes">
            <img src="/img/fav-icon.png" alt="Silla Ferragamo" />
          </div>

          <div class="description-cant">
            <h3>FERRAGAMO</h3>
            <p>Precio Unitario</p>
            <select name="cantidad" id="cant">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>

          <div class="description-price">
            <p class="precio-anterior">$30.785</p>
            <div class="precio-descuento">
              <p>$27.690</p>
              <p class="descuento">10% off</p>
            </div>
            <div class="subtotal">
              <p class="letra-subtotal">Subtotal</p>
              <p class="total">$27.690</p>
            </div>
          </div>
        </article>
      </section>

      <!-- Seccion total-->
      <section class="your-shop">
        <!-- Seccion 1 -->
        <div class="section-shop">
          <h3>TU COMPRA</h3>
          <div class="section-before-total">
            <div class="detail-name">
              <p>Subtotal</p>
              <p>Costo de envio</p>
            </div>
            <div class="detail-price">
              <p>$55.380</p>
              <p>$0</p>
            </div>
          </div>

          <div class="section-total">
            <p class="word-total">TOTAL</p>
            <p class="final">$55.380</p>
          </div>
          <div>
            <p class="cp">Código Postal</p>
            <div class="datos">
              <form>
                <input
                  class="boton-postal"
                  type="text"
                  name="codigoPostal"
                  placeholder="Ingresá tu código postal"
                />
              </form>
            </div>
            <form>
              <button type="submit">COMENZAR COMPRA</button>
            </form>
            <p class="terminos-condiciones">
              Al continuar con el proceso de compra usted está aceptando
              automáticamente los términos y condiciones.
            </p>
          </div>
        </div>
        <!-- Seccion 2 -->
        <div class="telephone-service">
          <p class="atencion">Atención telefónica</p>
          <p class="contacto-tel">
            Llamanos de Lunes a Sábados de 10 a 20hs. al 11 4631 2022
          </p>
        </div>
      </section>
    </div>
    <!-- Fin del Main-->

    <!-- Inicio del Footer-->
    <footer>
      <section class="footer-bottom">
        <article>
          <div class="logo">
            <h5>URBAN</h5>
            <h6>furniture</h6>
          </div>
          <p>
            Somos una empresa dedicada a poder alcanzar a nuestros clientes
            muebles de la mejor calidad al mejor precio.
          </p>
        </article>

        <article>
          <h5 class="footer-title">Contacto</h5>
          <h6 class="contacto">
            <i class="fa-solid fa-location-dot"></i> Buenos Aires, Argentina
          </h6>
          <h6 class="contacto">
            <i class="fa-solid fa-mobile-screen-button"></i> +54 333 1268347
          </h6>
          <h6 class="contacto">
            <span class="fa-solid fa-envelope"></span>
            contacto@urbanfuniture.com
          </h6>
        </article>

        <article>
          <h5 class="footer-title">Nuestras redes</h5>
          <div class="contenedor-redes">
            <a href="#" class="redes"
              ><i class="fa-brands fa-facebook-square"></i
            ></a>
            <a href="#" class="redes"
              ><i class="fa-brands fa-twitter-square"></i
            ></a>
            <a href="#" class="redes"
              ><i class="fa-brands fa-instagram-square"></i
            ></a>
          </div>
        </article>
      </section>
    </footer>
    <!-- Fin del Footer-->
  </body>
</html>
