@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
body {
  background-color: #f7f7f7;
  display: flex;
}
a {
  text-decoration: none;
  color: #606060;
}

/* Navbar */
.section__navbar {
  display: flex;
  flex-direction: column;
  width: 4rem;
  height: 100vh;
  align-items: center;
  background-color: white;
  position: sticky;
  top:0;
}
.section__logo{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  text-align: center;
}
.article__items{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo__top, .logo__bottom{
  margin: 0;
  display: inline;
}
.logo__top{
  font-size: .8rem;
  font-weight: 800;
}
.logo__bottom{
  font-size: .5rem;
}
.items__group{
  margin: 1.3rem 0 0 0;
  font-size: .9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #303030;
  padding: .6rem  .4rem;
  border-radius: 50%;
  width: 70%;
}
.a__item{
  color: inherit;
  width: 100%;
  text-align: center;
}
.a__item:hover{
  color: inherit;
}
.items__group:hover{
  background-color: rgba(3, 9, 28, 5%)
}
.items__group--active{
  background-color: #03091c;
  color: #f3f3f3;
  transition: 500ms;
}
.items__group--active:hover, .header__button:hover {
  background-color: rgba(3, 9, 28, 85%);
}
.item__title{
  margin: 0;
  display: none;
  font-family: Roboto;
}
/* Navbar ends*/

/* Content area section */
.section__content {
  width:85%;
  padding:  3% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Index view */
.card__group{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.card__resume{
  background-color: #03091c;
  color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  padding: 1rem;
  width: 100%;
  border-radius: .3rem;
  margin-bottom: 1rem;
}
.information__quantity{
  font-size: 1.5rem;
}
.information__title{
  font-size: .8rem;
}
.information__icon{
  margin-left: 1.5rem;
  font-size: 4rem;
}
.table{
  background-color: white;
  width: 100%;
  border-radius: .5rem;
}
.table__title{
  font-size: .85rem;
}
.table__icon{
  margin-right: 1rem;
}
.table__row{
  font-size: .8rem;
  border: transparent;
}
tr:nth-of-type(even) { 
  background-color: rgba(0,0,0,2%); 
}
.table__group{
  width: 100%;
}
.td__options{
  text-align: right;
}
.table__container{
  width: 100%;
}
.table--wide{
  margin-top: 1rem;
}
/* index end */

section .class-area {
  display: flex;
}

.product__header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title{
  font-size: 1.1rem;
  margin: 0;
}
.header__button{
  border-radius: .2rem;
  font-size: .8rem;
  padding: .3rem;
  border: transparent;
  background-color: #03091c;
  color: #f3f3f3;
  transition: 500ms;
}
.header__button i {
  margin-right: .5rem;
}
.product__form{
  width: 100%;
}
.input__group{
  margin-top: 1rem;
  width: 100%;
  position: relative;
}
.search__input{
  width: 100%;
  padding: .3rem;
  border: 1px solid #ebebeb;
  border-radius: .2rem;

}
.search__button{
  position: absolute;
  right: .35rem;
  top: .35rem;
  border: none;
  background-color: transparent;
  color: #03091c;
}
.form__filters{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.form__label{
  font-size: .9rem;
}
.form__select{
  border-radius: 1rem;
  font-size: .9rem;
  border: 1px solid #ebebeb;
  padding: .2rem;
  margin-right: 1rem;
}

.table__image{
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  margin-right: 1rem;
}
.table__buttons{
  border: none;
  background-color: transparent;
  font-size: 1rem;
  margin-right: 1rem;
  color: #03091c;
  transition: 500ms;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}
.table__buttons:hover{
  background-color: rgba(0,0,0,10%);
}

.fa-xmark{
  color: rgb(177, 17, 17);
}
.article__modal{
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,35%);
  display: none;
  justify-content: center;
  align-items: center;
}
.modal__body{
  background-color: white;
  width: 80vw;
  border-radius: .5rem;
  padding: 1rem;
}
.modal__header{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.form__input{
  width: 100%;
  padding: .3rem;
  border: 1px solid #999999;
  border-radius: .2rem;
  margin-bottom: 1rem;
}
.form__button{
  padding: .4rem;
  color: white;
  width: 100%;
  border: none;
  border-radius: .3rem;
  background-color: #03091c;
}
.input__image{
  position: absolute;
  left: -100vw;
}
.image__upload{
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}
.form__label--image{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem;
  border: 1px solid #999999;
  margin-bottom: 1rem;
  border-radius: .3rem;
}

/*--edit view--*/
.article__editHeader{
 width: 100%;
 display: flex;
 background-color: #03091c;
 padding: 1rem;
 border-radius: .5rem;
 color: #f3f3f3;
}
.editHeader__icon{
  border: 1px solid #f3f3f3;
  border-radius: .3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem 1.2rem;
  margin-right: 1rem;
}
.editHeader__icon i{
  font-size: 1.5rem;
}
.editHeader__title{
  font-size: 1.2rem;
  margin: 0;
  font-family: Roboto;
}
.editHeader__subtitle{
  font-size: 1rem;
  font-family: Roboto;
  margin: 0;
}
.input__field{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.article__formEdit{
  width: 100%;
  border-radius: .5rem;
  margin-top: 1rem;
  background-color: white;
  padding: 1rem;
}
.form__button--delete{
  margin-top: 1rem;
  background-color: transparent;
  border: 1px solid rgb(177, 17, 17);
  color: rgb(177, 17, 17);
  transition: 500ms;
}
.form__button--delete:hover{
  background-color: rgba(177, 17, 17, 10%);
}

/*Delete confirm view*/
.article__delete{
  width: 90%;
  background-color: white;
  position: relative;
  padding: 2rem 1rem;
  border-radius: .25rem;
}
.article__delete form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delete__image{
  width: 4rem;
  height: 4rem;
  object-fit: contain;
}
.delete__title{
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}
.delete__product{
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.delete__description{
  color: #999999;
}
.delete__buttons{
  display: flex;
  width: 100%;
  justify-content:flex-end;
}
.delete__button, .cancel__button{
  border-radius: .25rem;
  padding: .3rem .8rem;
  margin-left: 1rem;
  border: none;
  transition:500ms;
  font-size: .9rem;
  font-weight: 600;
}
.delete__button{
  background-color: #b71d1d;
  color: white;
}
.delete__button:hover{
  background-color: #821212;
}
.cancel__button{
  background-color: transparent;
}
.cancel__button:hover{
  background-color: rgba(0, 0, 0, 5%);
}

@media (min-width: 769px) {
  .article__delete{
    width: 30rem;
  }
  .product__area {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto; 
  }
  .card{
    width: 25vw;
  }
  .card, .info__description {
    transition: 500ms;
  }
  .card:hover .info__description {
    opacity: 1;
  }
  .card:hover {
    box-shadow: 0px 5px 10px rgba(100, 100, 100, 0.5);
    transform: scale(1.02);
  }
}
@media(min-width: 900px){
  .form__select{
      width: 8rem;
  }
  .section__navbar{
    width: 15rem;
    padding: 0 1rem;
  }
  .a__item{
    text-align:left;
  }
  .items__group{
    justify-content: start;
    align-items: center;
    border-radius: .2rem;
    width: 100%;
    transition: 500ms;
  }
  .item__title{
    display: inline;
    font-weight: 400;
  }
  .items__group i{
    width: 1rem;
    margin: 0 1rem;
  }
  .logo__top{
    font-size: 1rem;
  }
  .logo__bottom{
    font-size: .65rem;
  }

  .card__group{
    flex-direction: row;
    justify-content: space-between;
  }
  .card__resume{
    width: 30%;
  }
  .table__group{
    display: flex;
    justify-content: space-between;
  }
  .table{
    width: 48%;
  }
  .table--wide{
    width: 100%;
  }
  .form__group{
    display: flex;
    justify-content: space-between;
  }
  .form__group .form__input{
    width: 49%;
  }
  .modal__body{
    width: 50vw;
  }
  .form__group .input__field {
    width: 48%;
  }
  .input__field .form__input{
    width: 100%;
  }
}
@media (min-width: 1279px) {
  .card {
    width: 20vw;
  }
}