@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap");

/* Banner section*/
.main{
  min-height: 80vh;
}
.contact__section{
  width: 100%;
  padding: 0 10% ;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.article__map{
  width: 100%;
}
.map__iframe{
  width: 100%;
  height: 20rem;
}
.article__contact{
  width: 100%;
  padding: 1rem;
  background-color: white;
  border-radius: .25rem;
  margin-bottom: 1rem;
}
.contact__title{
  margin: 0;
  font-size: 1.2rem;
  color: #404040;
  margin-bottom: 0.3rem;
}
.contact__subtitle{
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: .95rem;
  font-weight: 300;
}
.contact__form{
  display: flex;
  flex-direction: column;
}
.contact__input{
  border-radius: .25rem;
  border: 1px solid #999999;
  padding: .35rem;
  margin-bottom: .5rem;
}
.contact__input::placeholder{
  font-size: 1rem;
  color: #909090;
}
.contact__button{
  padding: .5rem;
  border-radius: .25rem;
  border: 1px solid #03091c;
  background-color: #03091c;
  color: white;
  font-weight: 500;
}
@media (min-width:800px){
  .contact__section{
    flex-direction: row;
  }
  .article__map{
    width: 50%;
  }
  .article__contact{
    width: 50%;
    margin-bottom: 0;
  }
  .map__iframe{
    height: 100%;
    margin-left: 1rem;
  }
}