@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.main{
    min-height: 70vh;
    width: 100%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__container{
    padding: 5% 5% 10% 5%;
    background-color: white;
    border-radius: 1rem;
    width: 90vw;
    height:fit-content;
    display: flex;
    flex-direction: column;
}
.form__header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__image{
    width: 40%;
    height: auto;
}
.header__title{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.6rem;
    color: #404040;
}
.header__text{
    font-family: Roboto;
    font-weight: 300;
    color: #999999;
}
.input__container{
    width: 100%;
    position: relative;
    margin-top: 1.4rem;
}
.input__image{
    position:absolute;
    left: .5rem;
    top: .4rem;
    width: 1.15rem;
    height: auto;
}
.form__input, .form__button{
    width: 100%;
    padding: .4rem;
    border-radius: .1rem;
}
.form__input{
    border: 1px solid #999999;
    font-family: Roboto;
    padding-left: 2rem;
}
.form__input--error{
    border: 1px solid rgb(198, 49, 49);
}
.form__input::placeholder{
    color: #999999;
}
.checkbox__container{
    margin-top: 1.4rem;
    width: 100%;
    display: flex;
    align-items: center;
}
.input__checkbox{
    height: 1rem;
    width: 1rem;
    margin-right: .5rem;
}
.label__checkbox{
    font-size: 1rem;
    color: #404040;
}

.form__button{
    margin-top: 1.4rem;
    background-color: #002749;
    border: 1px solid #002749;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    font-family: Roboto;
    transition: 500ms;
}
.form__button:hover{
    background-color: #00192e;
}
.form__button--secondary{
    background-color: transparent;
    color: #002749;
}
.form__button--secondary:hover{
    background-color: rgba(0, 39, 73, 10%);
}

@media (min-width: 700px){
    .form__container{
        width: 50vw;
    }
}
@media (min-width: 1000px){
    .form__container{
        width:35vw;
    }
}