/* <-- Google fonts --> */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*<-- Cards & Card-section -->*/
.ofertas {
  padding: 2rem;
  width: 100%;
  height: auto;
}
.product-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ofertas h2 {
  font-family: Roboto;
  font-size: 1.3rem;
}
.ver-todas {
  border: 1px solid #909090;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  transition: 500ms;
}
.ver-todas:hover {
  background-color: rgba(143, 143, 143, 0.3);
  color: black;
}
.card-body {
  cursor: pointer;
  margin: 1rem;
  width: 80vw;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
}
.card-desc {
  font-size: 1rem;
  color: #666;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  opacity: 0;
  font-family: Roboto;
}
.card-texto {
  font-size: 1rem;
}
.card-descuento {
  margin-left: 10px;
  font-size: 16px;
  color: #39d54a;
  display: inline;
  width: 70%;
  font-weight: 500;
  font-family: Roboto;
  font-weight: 300;
}
.card-precio {
  font-family: Roboto;
  font-weight: 300;
  display: inline;
  width: 30%;
}
.card-precio-anterior {
  font-weight: 300;
  font-family: Roboto;
  text-decoration: line-through;
  font-size: 0.8rem;
  color: #666;
}
.card-image {
  width: 100%;
  border-radius: 0.5rem;
  background-color: rgba(196, 196, 196, 0.33);
  display: flex;
  justify-content: center;
}
.card-image img {
  width: 14rem;
  height: 14rem;
}
.card-datos {
  padding-top: 1rem;
  width: 100%;
  position: relative;
}

@media (min-width: 830px) {
  .product-area {
    flex-direction: row;
    align-items: center;
    flex: wrap;
    height: auto;
  }
  .card-body .card-desc {
    transition: 500ms;
  }
  .card-body:hover .card-desc {
    opacity: 1;
  }
  .card-body {
    max-width: 35vw;
    transition: 500ms;
  }
  .card-body:hover {
    box-shadow: 0px 5px 10px rgba(100, 100, 100, 0.5);
  }
}
@media (min-width: 1279px) {
  .card-body {
    max-width: 20vw;
  }
}
