/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap');

/* Standard config */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main{
  padding: 0 5%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Header section */
.section__header{
  padding: 0 5%;
}
.header__text{
  width: 100%;
}
.header__title{
  font-family: Montserrat;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: #202020;
}
.header__parragraph{
  font-family: Roboto;
  color: #707070;
  font-size: 1.3rem;
  font-weight: 300;
}
.header__form{
  margin-top: 2rem;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.form__input{
  width: 100%;
  padding: .7rem;
  border: 1px #999999 solid;
  border-radius: .3rem;
  font-family: Roboto;
}
.form__input::placeholder{
  color: #999999;
  font-family: Roboto;
}
.form__button{
  font-family: Montserrat;
  font-weight: 600;
  padding: .4rem .8rem;
  position: absolute;
  right: .4rem;
  border-radius: .3rem;
  border: none;
  background-color: #03091c;
  color: #f7f7f7;
  transition: 500ms;
  cursor: pointer;
}
.form__button:hover{
  background-color: rgba(3, 9, 28,.85);
}
.header__image{
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 2.5rem;
}
.image__item{
  width: 80%;
  height: auto;
  z-index: 1;
}
.image__floor{
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 80%;
  height: auto;
}
.image__controls{
  position: absolute;
  display: flex;
  bottom: .5rem;
}
.control__point{
  height: .5rem;
  width: .5rem;
  background-color: white;
  z-index: 2;
  border-radius: 50%;
  margin: .3rem;
  transition: 500ms;
  cursor: pointer;
}
.control__point:hover{
  transform: scale(1.2);
}
/* Products section */
.section{
  margin-top: 2rem;
  padding: 0 5%;
  width: 100%;
}
.section__title__wrapper{
  display: flex;
  align-items: center;
}
.section__title{
  font-family: Montserrat;
  font-size: 1.5rem;
  color: #202020;
}
.section__button{
  font-family: Roboto;
  color: #909090;
  background-color: transparent;
  border: 1px solid #606060;
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: 500ms;
}
.section__button:hover{
  background-color: rgba(143, 143, 143, 0.3);
  color: rgb(61, 61, 61);
}
.section__products{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.products__button{
  display: none;
  position: absolute;
  color: white;
  font-size: 1.2rem;
  background-color: #03091c;
  width: 3.5rem;
  height: 3.5rem;
  padding: 1rem;
  border-radius: 50%;
  right: 0;
  top: 35%;
  cursor: pointer;
  transition: 500ms;
}
.products__button:hover{
  transform: scale(1.1);
  box-shadow: 0px 5px 10px rgba(100, 100, 100, 0.5);
}
/* Product card */
.card{
  width: 70vw;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  margin:2.5rem .8rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  cursor: pointer;
  text-align: center;
}
.card__container{
  position: relative;
  width: 100%;
  height: 5rem;
  border-radius: .5rem;
}
.container__image{
   position: absolute;
   top:-110%;
   left:0;
   width: 100%;
   height: 200%;
   object-fit:contain
}
.info__price{
  font-weight: 300;
  font-family: Roboto;
  text-decoration: line-through;
  font-size: 0.9rem;
  color: #666;
  display: none;
}
.info__finalPrice{
  font-family: Roboto;
  font-weight: 300;
  display: inline;
  font-size: 1.5rem;
}
.a:hover{
  color: black;
}
.info__discount{
  color: #39d54a;
  display: inline;
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
}
.info__description {
  font-size: 1rem;
  color: #666;
  opacity: 0;
  margin: .5rem 0 0 0 ;
  font-weight: 300;
  font-family: Roboto;

}
/* Info section */
.section__information{
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 2rem;
  width: 90%;
}
.information__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  
}
.information__item img{
  width: 15%;
  height: auto;
}
.information__title{
  text-align: center;
  font-family: Montserrat;
  font-size: 1.1rem;
  margin-top: 0.5rem;
  font-weight: 600;
}
.information__description{
  margin-top: 0.5rem;
  color: #707070;
  font-family: Roboto;
  font-size: 1rem;
  text-align: center;
}


@media (min-width: 830px) {
  .section__information{
    display: flex;
  }
  .information__item img{
    width: 30%;
  }
  .section__header{
    display: flex;
    margin-bottom: 5rem;
    align-items: center;
  }
  .header__text{
    width: 55%;
  }
  .header__image{
    display: flex;
    justify-content: center;
    width: 45%;
  }
  .image__item, .image__floor{
    width: 90%;
  }

  .section__products {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
  }
  .card:hover .info__description {
    opacity: 1;
  }
  .card{
    width: 35vw;
  }
  .card, .info__description {
    transition: 500ms;
  }
  .card:hover {
    box-shadow: 0px 5px 10px rgba(100, 100, 100, 0.5);
    transform: scale(1.02);
  }
}

@media (min-width: 1200px) {
  .image__item, .image__floor{
    width: 60%;
  }
  .header__text, .header__image{
    width: 50%;
  }
  .section__button{
    display: none;
  }
  .section__title{
    font-size: 1.3rem;
    width: 5%;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
    display: flex;
    align-self: center;
  }
  .section__products{
    width: 95%;
    margin-top: 1rem;
  }
  .products__button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section{
    display: flex;
  }
  .card {
    width: 16vw;
  }
}
