/* <-- Estilos compartidos por las vistas -->*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #303030;
}
/*<-- Main tag config -->*/
body {
  background-color: #f7f7f7;
}
header {
  position: sticky;
  z-index: 4;
  top: 0px;
}
/*<-- Nav config -->*/
.navigator {
  background-color: #f7f7f7;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -0.32rem;
  padding: 0.5rem;
}
nav .logo {
  width: 60%;
  font-size: 1.3rem;
  color: #03091c;
  font-family: Roboto;
}
nav .logo p {
  font-weight: 700;
}
nav .logo span {
  font-weight: 400;
}
ul {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  display: none;
}
nav > ul > li > ul {
  display: none;
  position: absolute;
  width: 9%;
  font-family: Roboto;
  z-index: 2;
  margin-top: 1rem;
}
nav > ul > li:hover > ul {
  display: block;
}

nav > ul > li:hover > ul > li {
  background-color: whitesmoke;
  border-bottom: 1px solid gray;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 8px;
  font-size: 0.9rem;
}
nav > ul > li:hover > ul > li a {
  color: #606060;
}
nav > ul > li:hover > ul > li:hover a {
  color: #606060;
}
.nav-item {
  font-family: "Roboto";
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  color: #606060;
  transition: 500ms;
}
.nav-item:hover {
  color: #202020;
}
.user-options {
  width: 20%;
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  display: none;
  padding: 0;
  color: #606060;
  transition: 500ms;
}
.user-options:hover {
  color: #202020;
}
.user-options i {
  font-size: 1rem;
  margin-left: 1.5rem;
}
.menu-small-devices {
  font-size: 1.2rem;
  width: 40%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

/*<-- Marquee tag config -->*/
marquee {
  background-color: #03091c;
  font-family: "Roboto";
  color: white;
  font-weight: 500;
  padding: 2px;
}

/* <-- Footer config -->*/
.footer-bottom {
  width: 100%;
  background-color: #03091c;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-bottom article {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
.logo h5 {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1.3rem;
  color: #fff;
}
.logo h6 {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 1rem;
  color: #fff;
}
.footer-bottom p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.8rem;
  color: #cacaca;
  text-align: center;
}
.footer-title {
  font-family: "Roboto";
  font-weight: 400;
  color: #fff;
  font-size: 1rem;
}
.contacto {
  margin-top: 10px;
  font-size: 0.8rem;
  font-family: "Roboto";
  font-weight: 300;
  color: #cacaca;
}
.contenedor-redes {
  margin-top: 10px;
}
.redes {
  padding: 5px;
  font-size: 1.3rem;
  color: #cacaca;
  transition: 500ms;
}
.redes:hover {
  color: #f3f3f3;
}
/* <-- Fin Footer config -->*/

/*<-- Media Querys -->*/

/*
Media querys sizes:
Smaller smarthphones -> 0-480
Tablets & larger smarthphones -> 481-768
Laptops,larger tablets, and small desktops -> 769 - 1279
Larger desktops -> 1280+
*/

@media (min-width: 769px) {
  ul {
    display: flex;
  }
  .menu-small-devices {
    display: none;
  }
  .user-options {
    display: inline;
  }
  nav .logo {
    width: 30%;
  }
  .footer-bottom {
    width: 100%;
    flex-direction: row;
    padding-bottom: 2.5rem;
  }
  .footer-bottom article {
    margin-left: 10%;
    width: 30vw;
    align-items: flex-start;
  }
  .footer-bottom p {
    text-align: left;
    margin-top: 10px;
  }
}
@media (min-width: 1249px) {
  .user-options {
    width: 15%;
  }
}
