/* <-- Google fonts --> */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap");
* {
  font-family: Roboto;
}

.item__img{
    padding: 0.2rem;
    width: 2rem;
    height: 2rem;
    object-fit: fit;
    background-color: rgba(0, 0, 0, 10%);
    border-radius: .2rem;
    margin: .5rem;
}
.main__carrito{
  padding: 0 10%;
  min-height: 80vh;
  margin-bottom: 2rem;
}
.section__carrito{
 background-color: #FFFFFF;
 border-radius: .2rem;
 margin-bottom: 2rem;
}
tr th:nth-child(2), tr td:nth-child(2) { display: none }  
.table__body{
  width: 100%;
  height: max-content;
}
tr th:nth-child(1), tr td:nth-child(1) { width: 2.4rem; }
tr th:nth-child(6), tr td:nth-child(6) { text-align: center; }
.table__title{
  padding: .5rem;
  font-size: 0.85rem;
  color: #909090;
  font-weight: 400;
}
.table__item{
  padding: 0 .5rem;
  font-size: 0.85rem;
  position: relative;
  height: 100%;
}
.table__row{
  padding: 1rem;
  width: 100%;
}
.input{
  max-width: 3rem;
}
/*Cantidad*/
.item__button--decrease, .item__button--increase{
background-color: transparent;
border: none;
position: absolute;
}
.item__button--decrease{
  left: .8rem;
  top: 1rem;
}
.item__button--increase{
  right: .8rem;
  top: 1rem;
}
.item__input{
  width: 100%;
  border: 1px solid #999999;
  border-radius: .2rem;
  text-align: center;
  padding: .5rem;
}
/*Seccion pagos*/
.prepago{
  background-color: #03091C;
  color: #ECECEC;
  padding: 1rem;
  border-radius: .4rem;
}

.contact__detail{
  background-color: #03091C;
  color: #ECECEC;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: .4rem;
  margin-bottom: 1rem;
}

.prepago__h4{
  font-size: 1rem;
}

.prepago__p{
  font-size: .8rem;
  font-weight: 200;
}
.linea{
  width: 50%;
  height: 1px;
  background-color: #FFFFFF;
  margin-bottom: 1rem;
}
.prepago__button{
  background-color: #E3E3E3;
  padding: .4rem .2rem ;
  border-radius: .3rem;
  width: 100%;
  font-size: .8rem;
  font-weight: 400
}
.fa-phone{
  margin-right: .5rem;
}
.redirect{
  color: #03091C;
}
.fa-arrow-left-long{
  margin-right: .5rem;
  margin-bottom: 1rem
}
.fa-minus, .fa-plus{
  font-size: 0.6rem;
}
.fa-x{
  color: #CF0000;
  transition: 500ms;
  padding: .8rem;
  border-radius: 50%;
}
.fa-x:hover{
  background-color: rgba(0, 0, 0, 10%);
}
@media(min-width: 800px){
  .main__carrito{
    display: flex;
    width: 100%;
  }
  .section__carrito{
    width: 65%;
    margin-right: 1rem;
  }
  tr th:nth-child(2), tr td:nth-child(2) { display:flex; align-items: center; }

  .section__pago{
    width: 30%;
    margin-left: 2rem;
  }
}