/* <-- Google fonts --> */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap');

.main{
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.section__category{
  width: 100%;
}
.section__category div{
  margin-top: 1rem;
  font-family: Montserrat;
  background-color: white;
  padding: 1rem;
  border-radius: .5rem;
}
.section__category h2{
  font-weight: 600;
  font-size: 1.2rem;
}
.section__category span{
  font-weight: 100;
  font-size: 1.1rem;
}
.section__category h4{
  color: #707070;
  font-weight: 100;
  font-size: .8rem;
}
.category__subtitle{
  margin-top: 1rem;
  color: #404040;
  font-size: .9rem;
}
.category__item{
  margin-top: .3rem;
  font-size: 1rem;
  color: #707070;
}

.searchbar{
  width: 100%;
  position:relative;
}
.searchbar__input{
  margin-top: 1rem;
  width: 100%;
  padding: 0.4rem;
  border-radius: .3rem;
  border: 1px solid #999999;
  font-family: Roboto;
}
.searchbar__input::placeholder{
  color: #999999;
}
.searchbar__button{
  position: absolute;
  right: .6rem;
  top: 1.35rem;
  background-color: transparent;
  border: none;
}
.searchbar__button img{
  width: 1.2rem;
  height: auto;
}
/*<-- product section -->*/
.section__products{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
/*<-- card -->*/
.card{
  width: 70vw;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  margin:2.5rem .8rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  cursor: pointer;
  text-align: center;
}
.card__container{
  position: relative;
  width: 100%;
  height: 5rem;
  border-radius: .5rem;
}
.container__image{
   position: absolute;
   top:-100%;
   left:0;
   width: 100%;
   height: 200%;
   object-fit:contain
}
.info__price{
  font-weight: 300;
  font-family: Roboto;
  text-decoration: line-through;
  font-size: 0.9rem;
  color: #666;
  display: none;
}
.info__finalPrice{
  font-family: Roboto;
  font-weight: 300;
  display: inline;
  font-size: 1.5rem;
}
.info__discount{
  color: #39d54a;
  display: inline;
  font-family: Roboto;
  font-weight: 300;
  font-size: 1rem;
}
.info__description {
  font-size: 1rem;
  color: #666;
  opacity: 0;
  margin-top: .5rem;
  font-weight: 300;
  font-family: Roboto;
}
/* --- */
.card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.card__image {
  width: 60%;
  position: relative;
}
.card__decoration{
  z-index: -1;
  width: 100%;
  height: auto;
  position: absolute;
}
.card__text{
  padding: .5rem;
}
.position-text h1 {
  font-family: "Open Sans";
  font-size: 2rem;
}
.position-text p {
  font-family: Roboto;
  color: #909090;
  font-weight: 300;
}
.seleccion-color {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
.color {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
.rojo {
  background-color: #a90022;
}
.azul {
  background-color: #4a6da3;
}
.verde {
  background-color: #339548;
}
.activa {
  transform: scale(1.1);
  box-shadow: 0px 5px 10px rgba(100, 100, 100, 0.5);
}
.position-product {
  width: 100%;
  height: auto;
}
.button-add-to-cart {
  margin: .5rem 0;
  border: 1px solid #03091c;
  background-color: transparent;
  font-family: Roboto;
  color: #03091c;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  transition: 400ms;
  cursor: pointer;
}

.button-add-to-cart:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.number-price {
  font-family: Roboto;
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
}
@media (min-width: 830px){
  .section__products {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
  }
  .card:hover .info__description {
    opacity: 1;
  }
  .card{
    width: 35vw;
  }
  .card, .info__description {
    transition: 500ms;
  }
  .card:hover {
    box-shadow: 0px 5px 10px rgba(100, 100, 100, 0.5);
    transform: scale(1.02);
  }
  .card__body {
    flex-direction: row;
  }
  .card__image {
    width: 50%;
  }
  .card__decoration{
    width: 80%;
  }
  .position-product{
    width: 80%;
  }
}
@media (min-width: 1000px) {
  .main{
    margin-top: 2rem;
    flex-direction: row;
    width: 100%;
  }
  .section__category{
    width: 25%;
  }
  .section__container{
    width: 75%;
    margin-left: 2rem;
  }
  .searchbar{
    margin-bottom: 2.5rem;
  }
  .position-text {
    width: 50%;
  }
  .section__products{
    width: 95%;
    margin-top: 1rem;
  }
  .card {
    width: 16vw;
  }
}
