/* <-- Google fonts --> */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@300;400;500;700&display=swap");

.card-body {
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
  }
  .position-text{
    height: 100px;
    margin-top: 8%;
    margin-left: 10%;
    font-size: 22px;
  }
.position-product{
    height: 500px;
    width: 350px;
}

.button-add-to-cart{
    margin-top: 15%;
    margin-left: 60%;
    font-size: 35px;
    width: 50%;
    background-color: #03091c;
    color: aliceblue;

}

 