<footer>
    <section class="footer-bottom">
      <article>
        <div class="logo">
          <h5>URBAN</h5>
          <h6>furniture</h6>
        </div>
        <p>
          Somos una empresa dedicada a poder alcanzar a nuestros clientes
          muebles de la mejor calidad al mejor precio.
        </p>
      </article>

      <article>
        <h5 class="footer-title">Contacto</h5>
        <h6 class="contacto">
          <i class="fa-solid fa-location-dot"></i> Buenos Aires, Argentina
        </h6>
        <h6 class="contacto">
          <i class="fa-solid fa-mobile-screen-button"></i> +54 333 1268347
        </h6>
        <h6 class="contacto">
          <span class="fa-solid fa-envelope"></span>
          contacto@urbanfuniture.com
        </h6>
      </article>

      <article>
        <h5 class="footer-title">Nuestras redes</h5>
        <div class="contenedor-redes">
          <a href="#" class="redes"
            ><i class="fa-brands fa-facebook-square"></i
          ></a>
          <a href="#" class="redes"
            ><i class="fa-brands fa-twitter-square"></i
          ></a>
          <a href="#" class="redes"
            ><i class="fa-brands fa-instagram-square"></i
          ></a>
        </div>
      </article>
    </section>
  </footer>