<!-- Inicio del Header-->
<header>
    <marquee behavior="" direction="">
        Novedades en la categoria de sillones - Ofertas increibles este black
        friday
    </marquee>
    <div class="navigator">
        <nav>
            <div class="logo">
                <a href="/">
                    <p>URBAN <span>FURNITURE</span></p>
                </a>
            </div>
        </nav>
    </div>
</header>
<!-- Fin del Header-->