
<main>
    <!--Carrousel-->
    <div class="carrousel">
      <div class="grande">
        <img src="./img/Comedor.jpg" alt="" class="img" />
        <img src="./img/habitacion.jpg" alt="" class="img" />
        <img src="./img/Cocina.jpg" alt="" class="img" />
        <img src="./img/Cama.jpg" alt="" class="img" />
        <img src="./img/comedor 2.jpg" alt="" class="img" />
        <img src="./img/Sala.jpg" alt="" class="img" />
      </div>
      <ul class="puntos">
        <li class="punto activo"></li>
        <li class="punto"></li>
        <li class="punto"></li>
        <li class="punto"></li>
        <li class="punto"></li>
        <li class="punto"></li>
      </ul>
    </div>
<section class="ofertas">
    <h2>
      Nuestras ofertas
      <a href="#"><span class="ver-todas">ver todas</span></a>
    </h2>
    <div class="product-area">
      <article class="card-body">
        <div class="card-image">
          <img src="./img/products2.png" alt="estante" />
        </div>
        <div class="card-datos">
          <h3 class="card-precio-anterior">$12500</h3>
          <h3 class="card-precio">$10.000</h3>
          <h3 class="card-descuento">20% OFF</h3>
          <p class="card-desc">Estante</p>
        </div>
      </article>
      <article class="card-body">
        <div class="card-image">
          <img src="./img/products3.png" alt="estante" />
        </div>
        <div class="card-datos">
          <h3 class="card-precio-anterior">$12500</h3>
          <h3 class="card-precio">$10.000</h3>
          <h3 class="card-descuento">20% OFF</h3>
          <p class="card-desc">Mesa</p>
        </div>
      </article>
      <article class="card-body">
        <div class="card-image">
          <img src="./img/products4.png" alt="estante" />
        </div>
        <div class="card-datos">
          <h3 class="card-precio-anterior">$12500</h3>
          <h3 class="card-precio">$10.000</h3>
          <h3 class="card-descuento">20% OFF</h3>
          <p class="card-desc">Mueble con cajones</p>
        </div>
      </article>
      <article class="card-body">
        <div class="card-image">
          <img src="./img/products5.png" alt="estante" />
        </div>
        <div class="card-datos">
          <h3 class="card-precio-anterior">$12500</h3>
          <h3 class="card-precio">$10.000</h3>
          <h3 class="card-descuento">20% OFF</h3>
          <p class="card-desc">Mesa y juego de sillas</p>
        </div>
      </article>
    </div>
  </section>

  <section class="ofertas">
    <h2>
      Ultimas publicaciones
      <a href="#"><span class="ver-todas">ver todas</span></a>
    </h2>
    <div class="product-area">
      <article class="card-body">
        <div class="card-image">
          <img src="./img/products2.png" alt="estante" />
        </div>
        <div class="card-datos">
          <h3 class="card-precio-anterior">$12500</h3>
          <h3 class="card-precio">$10.000</h3>
          <h3 class="card-descuento">20% OFF</h3>
          <p class="card-desc">Estante</p>
        </div>
      </article>
      <article class="card-body">
        <div class="card-image">
          <img src="./img/products3.png" alt="estante" />
        </div>
        <div class="card-datos">
          <h3 class="card-precio-anterior">$12500</h3>
          <h3 class="card-precio">$10.000</h3>
          <h3 class="card-descuento">20% OFF</h3>
          <p class="card-desc">Mesa</p>
        </div>
      </article>
      <article class="card-body">
        <div class="card-image">
          <img src="./img/products4.png" alt="estante" />
        </div>
        <div class="card-datos">
          <h3 class="card-precio-anterior">$12500</h3>
          <h3 class="card-precio">$10.000</h3>
          <h3 class="card-descuento">20% OFF</h3>
          <p class="card-desc">Mueble con cajones</p>
        </div>
      </article>
      <article class="card-body">
        <div class="card-image">
          <img src="./img/products5.png" alt="estante" />
        </div>
        <div class="card-datos">
          <h3 class="card-precio-anterior">$12500</h3>
          <h3 class="card-precio">$10.000</h3>
          <h3 class="card-descuento">20% OFF</h3>
          <p class="card-desc">Mesa y juego de sillas</p>
        </div>
      </article>
    </div>
  </section>

  <section class="card-redirect-wrapper">
    <a href="./register">
      <article class="card-redirect">
        <img src="./img/pexels-emre-can-acer-2079246.jpg" alt="" />
        <div class="card-redirect-content">
          <h2>Venta mayorista</h2>
          <p>
            <i class="fa-solid fa-arrow-right-from-bracket"></i>REGISTRATE
          </p>
        </div>
      </article>
    </a>
    <a href="./contact">
      <article class="card-redirect">
        <img src="./img/Hire-A-Carpenter1.jpeg" alt="" />
        <div class="card-redirect-content">
          <h2>Proyectos a medida</h2>
          <p><i class="fa-solid fa-paper-plane"></i>ESCRIBINOS</p>
        </div>
      </article>
    </a>
  </section>

  <section class="datos-empresa">
    <article class="dato">
      <i class="fa-solid fa-credit-card"></i>
      <h2>HASTA 24 CUOTAS</h2>
      <p>Visa, Mastercard, Amex, Mercado Pago.</p>
    </article>
    <article class="dato">
      <i class="fa-solid fa-truck-fast"></i>
      <h2>ENVIOS A TODO EL PAÍS</h2>
      <p>A todo el país en tiempo record.</p>
    </article>
    <article class="dato">
      <i class="fa-solid fa-list-check"></i>
      <h2>ENTREGA INMEDIATA</h2>
      <p>Disponibilidad de stock permanente.</p>
    </article>
    <article class="dato">
      <i class="fa-solid fa-phone"></i>
      <h2>VENTA TELEFÓNICA</h2>
      <p>Tel. 4631-2022 Lun a Sab de 10 a 20hs.</p>
    </article>
  </section>
</main>
<!-- Fin del Main--