<header>
    <marquee behavior="" direction="">
      Novedades en la categoria de sillones - Ofertas increibles este black
      friday
    </marquee>
    <div class="navigator">
      <nav>
        <div class="logo">
          <p>URBAN <span>FURNITURE</span></p>
        </div>
        <ul>
          <li><a class="active nav-item" href="/">Inicio</a></li>
          <li><a class="nav-item" href="#">Nosotros</a></li>
          <li>
            <a class="nav-item" href="#">Categorias</a>
            <ul>
              <li><a href="#">COMEDOR</a></li>
              <li><a href="#">SILLAS</a></li>
              <li><a href="#">COCINAS</a></li>
              <li><a href="#">HABITACION</a></li>
            </ul>
          </li>
          <li><a class="nav-item" href="/contact">Contacto</a></li>
        </ul>
        <div class="user-options">
          <i class="fa-solid fa-magnifying-glass nav-item"></i>
          <a href="/productCart"
            ><i class="fa-solid fa-cart-shopping nav-item"></i
          ></a>
          <a href="/login">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
          </a>
        </div>
        <div class="menu-small-devices">
          <i class="fa-solid fa-bars"></i>
        </div>
      </nav>
    </div>
  </header>