<section class="section__navbar">
  <div class="navbar__logo">
    <a href="/">
      <h3 class="logo__top">URBAN</h3>
      <h3 class="logo__bottom">FURNITURE</h3>
    </a>
  </div>

  <nav class="nav">
    <ul class="nav__container">
      <li class="container__item">
        <a href="/admin/"
          ><i class="fa-solid fa-house item__icon"></i
          ><span class="item__title">Inicio</span></a
        >
      </li>
    </ul>
    <h3 class="nav__title">PRODUCTOS</h3>
    <ul class="nav__container">
      <li class="container__item">
        <a href="/admin/agregarProducto"
          ><i class="fa-solid fa-circle-plus item__icon"></i
          ><span class="item__title">Agregar producto</span></a
        >
      </li>
      <li class="container__item">
        <a href="/admin/modificar"
          ><i class="fa-solid fa-square-pen item__icon"></i
          ><span class="item__title">Modificar producto</span></a
        >
      </li>
    </ul>
    <h3 class="nav__title">USUARIOS</h3>
    <ul class="nav__container">
      <li class="container__item">
        <a href="/admin/users"
          ><i class="fa-solid fa-user-group item__icon"></i
          ><span class="item__title">Lista usuarios</span></a
        >
      </li>
    </ul>
    <a href="/" class="container__item"
      ><i class="fa-solid fa-arrow-left item__icon"></i
      ><span class="item__title">Volver</span></a
    >
  </nav>
</section>
