<header>
  <marquee behavior="" direction="">
    Novedades en la categoria de sillones - Ofertas increibles este black friday
  </marquee>

  <div class="navbar">
    <nav>
      <div class="navbar__logo">
        <a href="/">
          <p>URBAN <span>FURNITURE</span></p>
        </a>
      </div>

      <ul>
        <li><a class="active nav-item" href="/">Inicio</a></li>
        <li><a class="nav-item" href="/contact">Contacto</a></li>
        <li><a class="nav-item" href="/product">Productos</a></li>
        <li><a class="nav-item nav-item-lg" href="/product">Categorias</a></li>
      </ul>

      <div class="user-options">
        <i class="fa-solid fa-magnifying-glass nav-item"></i>
        <a href="/product/productCart"
          ><i class="fa-solid fa-cart-shopping nav-item"></i
        ></a>
        <a href="/users/login">
          <i class="fa-solid fa-arrow-right-to-bracket"></i>
        </a>
      </div>

      <div class="menu-small-devices">
        <i class="fa-solid fa-bars"></i>
      </div>
    </nav>
  </div>
</header>
