<header>
  <marquee>
    Novedades en la categoria de sillones • Los mejores productos al mejor
    precio • Aprovecha los descuentos de este mes • Nuevos productos para la
    oficina
  </marquee>
  <div class="navbar">
    <nav class="nav">
      <div class="navbar__logo__container">
        <a class="navbar__logo" href="/">
          <p>URBAN <span>FURNITURE</span></p>
        </a>
      </div>
      <ul>
        <li><a class="active nav__item" href="/">Inicio</a></li>
        <li><a class="nav__item" href="/contact">Contacto</a></li>
        <li><a class="nav__item" href="/product">Productos</a></li>
        <li><a class="nav__item" href="/product">Categorias</a></li>
      </ul>
      <div class="user__options">
        <i class="fa-solid fa-magnifying-glass nav__item .user__icon"></i>
        <a href="/product/productCart"
          ><i class="fa-solid fa-cart-shopping nav__item .user__icon"></i
        ></a>
        <% if (locals.isLogged) { %>
        <div class="dropdown" data-dropdown>
          <button class="dropdown__toggler" data-dropdown-button>
            <img src="/img/avatars/unknown.png" alt="" class="user__avatar" />
          </button>
          <div class="dropdown__menu">
            <div class="dropdown__decoration"></div>
            <a class="dropdown__item"
              ><i class="fa-solid fa-gear dropdown__icon"></i>Configuración</a
            >
            <a class="dropdown__item" href="/users/logout"
              ><i class="fa-solid fa-arrow-right-to-bracket dropdown__icon"></i
              >Cerrar sesión</a
            >
          </div>
        </div>
        <% } else { %>
        <a href="/users/login">
          <i class="fa-solid fa-arrow-right-to-bracket nav__item"></i>
        </a>
        <% } %>
      </div>

      <div class="menu__sm dropdown" data-dropdown>
        <button class="dropdown__toggler" data-dropdown-button>
          <i class="fa-solid fa-bars"></i>
          <div class="dropdown__menu">
            <div class="dropdown__decoration"></div>
            <a class="dropdown__item"
              ><i class="fa-solid fa-gear dropdown__icon"></i>Configuración</a
            >
            <a class="dropdown__item" href="/users/logout"
              ><i class="fa-solid fa-arrow-right-to-bracket dropdown__icon"></i
              >Cerrar sesión</a
            >
          </div>
        </button>
      </div>
    </nav>
  </div>
</header>
