<section class="navbar-vertical">
  <div class="logo">
    <a href="/">
      <h3 class="logo-top">URBAN</h3>
      <h3 class="logo-bottom">FURNITURE</h3>
    </a>
  </div>

  <nav>
    <h3 class="nav-title">PRODUCTOS</h3>
    <ul>
      <li class="nav-item">
        <a href="/admin/agregarProducto"
          ><i class="fa-solid fa-circle-plus"></i
          ><span class="nav-subtitle">Agregar producto</span></a
        >
      </li>
      <li class="nav-item">
        <a href="/admin/modificarProducto"
          ><i class="fa-solid fa-square-pen"></i
          ><span class="nav-subtitle">Modificar producto</span></a
        >
      </li>
    </ul>
    <h3 class="nav-title">USUARIOS</h3>
    <ul>
      <li class="nav-item">
        <a href="/admin/users"
          ><i class="fa-solid fa-user-group"></i
          ><span class="nav-subtitle">Lista usuarios</span></a
        >
      </li>
    </ul>
    <a href="/" class="nav-item"
      ><i class="fa-solid fa-arrow-left"></i
      ><span class="nav-subtitle">Volver</span></a
    >
  </nav>
</section>
