<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {route:'contact.css', main:'main.css',
  title:'Contactanos'})%>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <!-- Inicio del Main-->
    <main>
      <!-- Inicio Banner section -->
      <section class="banner">
        <img src="/img/backgrounds/contact-banner.png" alt="banner" />
        <div>
          <h3>Contactanos</h3>
          <h4>Tu consulta no es molestia</h4>
        </div>
        <!--<img src="./img/contact-banner.png" alt="banner" />-->
      </section>
      <!-- Fin Banner section -->
      <!-- Inicio faqs-->
      <section class="faqs">
        <article class="faqs-item">
          <img src="/img/icons/faq.png" alt="faq" />
          <h3 class="faqs-title">PREGUNTAS FRECUENTES</h3>
          <button class="faqs-btn">Ver respuestas</button>
        </article>
        <article class="faqs-item">
          <img src="/img/icons/package.png" alt="faq" />
          <h3 class="faqs-title">ENVIOS Y REEMBOLSOS</h3>
          <button class="faqs-btn">Ver respuestas</button>
        </article>
        <article class="faqs-item">
          <img src="/img/icons/garantia.png" alt="faq" />
          <h3 class="faqs-title">GARANTIAS</h3>
          <button class="faqs-btn">Ver respuestas</button>
        </article>
        <article class="faqs-item">
          <img src="/img/icons/privacidad.png" alt="faq" />
          <h3 class="faqs-title">POLITICAS DE PRIVACIDAD</h3>
          <button class="faqs-btn">Ver respuestas</button>
        </article>
      </section>
      <!-- Fin faqs-->
      <!-- Mail section-->
      <section class="email">
        <article class="email-section">
          <h3 class="email-title">
            ¿Seguis sin encontrar lo que estas buscando?
          </h3>
          <p class="email-desc">
            Mandanos un email y te contestaremos en la brevedad
          </p>
          <div class="button">
            <button class="faqs-btn">Enviar email</button>
            <img src="/img/icons/avion.png" alt="" />
          </div>
        </article>
        <article class="map-section">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.016887889548!2d-58.38375908544157!3d-34.60373446500467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4aa9f0a6da5edb%3A0x11bead4e234e558b!2sObelisco!5e0!3m2!1sen!2sar!4v1647613475913!5m2!1sen!2sar"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </article>
      </section>
    </main>
    <!-- Fin del Main-->

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
