<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head.ejs', {route:'adminDash.css', main:'', title:
  'Admin'}) %>
  <!-- head -->

  <body>
    <%- include('../partials/navbar_dashboard.ejs') %>
    <section class="section">
      <h1>Agregar un producto</h1>
      <form
        action="/product"
        class="section__form"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="form__container">
          <label for="name" class="form__label">Nombre</label>
          <input type="text" class="form__input" name="name" id="name" />
        </div>
        <div class="form__container">
          <label for="category" class="form__label">Categoria</label>
          <select name="category" id="category" class="form__input">
            <option value="">Seleccionar categoria</option>
            <option value="sofas">Sofas</option>
          </select>
        </div>
        <div class="form__container">
          <label for="description" class="form__label">Descripción</label>
          <input
            type="text"
            class="form__input"
            name="description"
            id="description"
          />
        </div>
        <div class="form__container">
          <label for="" class="form__label">Imagen</label>
          <label for="image" class="form__label--image">
            <img src="/img/icons/upload.png" alt="asd" />
            Haz click para cargar tu imagen
          </label>
          <input class="form__file" type="file" name="image" id="image" />
        </div>

        <div class="form__container">
          <label for="" class="form__label">Colores</label>
          <input type="color" class="form__input--color" name="color1" />
          <input type="color" class="form__input--color" name="color2" />
          <input type="color" class="form__input--color" name="color3" />
        </div>

        <div class="form__container">
          <label for="price" class="form__label">Precio</label>
          <input type="number" class="form__input" name="price" id="price" />
        </div>

        <div class="form__container">
          <button class="form__button">Agregar</button>
        </div>
      </form>
    </section>
  </body>
</html>
