<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head.ejs', {route:'adminDash.css', main:'', title:
  'Admin'}) %>
  <body>
    <%- include('../partials/navbar_dashboard.ejs') %>
    <section class="content-area">
      <h3>Bienvenido de vuelta,</h3>
      <h2>usuario</h2>
    </section>
  </body>
</html>
