<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head.ejs', {route:'adminDash.css', main:'', title:
  'Admin'}) %>
  <body>
    <%- include('../partials/navbar_dashboard.ejs') %>
    <section class="content-area">
      <article class="card__home">
        <h2></h2>
      </article>
    </section>
  </body>
</html>
