<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin dashboard</title>
    <!-- css -->
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/adminDash.css" />
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/143040bb16.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('../partials/verticalNav.ejs') %>
    <section class="content-area">
      <h3>Bienvenido de vuelta,</h3>
      <h2>usuario</h2>
    </section>
  </body>
</html>
