<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head.ejs', {route:'adminDash.css', main:'', title:
  'Admin'}) %>
  <body>
    <%- include('../partials/navbar_dashboard.ejs') %>
    <section class="content-area">
      <div>
        <form
          class="form__search"
          method="GET"
          action="/admin/modificar/search"
        >
          <input
            class="search__input"
            type="text"
            name="keywords"
            placeholder="Buscar el producto a modificar"
          />
          <button class="search__button">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>
      <div class="product__area">
        <%- include('../partials/product_list', {data:data, mode:'admin'}) %>
      </div>
    </section>
  </body>
</html>
