<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head.ejs', {route:'adminDash.css', main:'', title:
  'Admin'}) %>
  <body>
    <%- include('../partials/navbar_dashboard.ejs', {url : url}) %>
    <section class="section__content">
      <article class="card__group">
        <div class="card__resume">
          <div class="resume__information">
            <h2 class="information__quantity">1</h2>
            <h4 class="information__title">Cantidad de usuarios</h4>
          </div>
          <i class="fa-solid fa-users information__icon"></i>
        </div>
        <div class="card__resume">
          <div class="resume__information">
            <h2 class="information__quantity">2</h2>
            <h4 class="information__title">Usuarios administrador</h4>
          </div>
          <i class="fa-solid fa-user-shield information__icon"></i>
        </div>
        <div class="card__resume">
          <div class="resume__information">
            <h2 class="information__quantity">12</h2>
            <h4 class="information__title">Usuarios clientes</h4>
          </div>
          <i class="fa-solid fa-user information__icon"></i>
        </div>
      </article>
    </section>
  </body>
</html>
