<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {route:'forms.css', main:'main.css',
  title:'Registro'})%>

  <body>
    <%- include('../partials/navbar_forms') %>

    <!-- Inicio del Main-->
    <main class="main-login">
      <div class="login-container">
        <i class="fa-solid fa-circle-question user-icon"></i>
        <form action="/users/register" method="POST" class="login-form">
          <h3 class="login-title">Registrate</h3>
          <div class="input-wrapper">
            <input
              type="text"
              name="user"
              id="user"
              class="login-input"
              placeholder="Nombre de usuario"
            /><i class="fa-solid fa-user input-icon"></i>
          </div>
          <div class="input-wrapper">
            <input
              type="email"
              name="email"
              id="user-email"
              class="login-input"
              placeholder="Correo electrónico"
            /><i class="fa-solid fa-user input-icon"></i>
          </div>
          <div class="input-wrapper">
            <input
              type="password"
              name="password"
              id="password"
              class="login-input"
              placeholder="Contraseña"
            /><i class="fa-solid fa-lock input-icon"></i>
          </div>
          <div class="input-wrapper">
            <input
              type="password"
              name="password-confirm"
              id="password-confirm"
              class="login-input"
              placeholder="Confirmar contraseña"
            /><i class="fa-solid fa-lock input-icon"></i>
          </div>

          <div class="ingresar">
            <button class="login-button" type="submit">Registrarme</button>
            <p class="recover-pass">Registrarme con</p>
            <div class="links-login">
              <a href="#"><i class="fa-brands fa-google"></i></a>
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
            </div>
          </div>
        </form>
      </div>
    </main>
    <!-- Fin del Main-->

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
